@page "/"

<PageTitle>Driver Rater</PageTitle>

<h1>Welcome to Driver Rater for iRacing</h1>

<p>Driver Rater aims to provide a simple way for you to identify drivers on the iRacing platform who exhibit various driving traits.</p>

<p>You rate the drivers you race against using this simple colour system.</p>
<ul>
    <li><strong>Blue</strong> - They're "alien" drivers who race clean and you can learn a lot from following</li>
    <li><strong>Green</strong> - These are fast drivers who will leave you driving room. You can trust them wheel to wheel</li>
    <li><strong>Yellow</strong> - These drivers a usually good to race wheel to wheel but they occasionally make mistakes</li>
    <li><strong>Red</strong> - These drivers are aggressive (they could also be very fast) and racing wheel to wheel them is likely to result in intentional incidents.  Steer clear of them</li>
    <li><strong>Black</strong> - Avoid these drivers. They are intentional wreckers. Likely having wrecked you.</li>
</ul>

<p>Alternatively, you can use whatever convention you'd like :)</p>

